<ion-header>  
  <ion-toolbar color="primary">
    <ion-title>Listado de Países </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">   
  <ion-content>
    <ion-list>
      @for (item of paises; track item.id) {
        <ion-item button >
          <div class="container" style="padding: 20px 0 20px 0;">
            <img src="{{ item.bandera}}" alt="" width="250">
            <ion-label class="ion-text-wrap" style="padding: 0px;width: 100%;">
              <h1 style="padding: 20px 0 10px 0;">{{ item.nombre }}</h1>          
                {{ item.capital }}
                {{ item.descripcion }}
                  <div style="display: flex;">
                    Latitud: {{ item.coordenadas.latitud}} Longitud: {{ item.coordenadas.longitud}}
                  </div>
            </ion-label>
            <ion-button slot="end" (click)="showDetails(item)" style="padding: 20px 0 20px 0;">Detalles</ion-button>
          </div>
        </ion-item>
        }
    </ion-list>
  </ion-content> 
</ion-content>